@charset "UFT-8";

* {
    margin: 0;
    padding: 0;
}
.약:after{content: ""; display: block; clear: both;}
/* after 뒤에 항상 content가 와야함
 after 뒤에 clear: both 쓰려면 인라인요소를 바꿔주는 display: block이 꼭 필요함 */

/* 비디오 */
.비디오전체{
    width: 80%;
    margin: auto;
}
.비디오전체 video{
    width: 100%;
}

.main {
    background-color: #fff5e4;
    width: 80%;
    margin: auto;
    padding: 2%;
    padding-top: 5%;
    box-sizing: border-box;
}
.main .첫째{
    margin-top: 30px;
    background-color: #ffe3e1;}
.main .첫째 .첫째손{
    height: 200px;
    width: 49%;
    float: left;
}

.main .첫째 .자식1{
    background-color: #ffd1d1;
    margin-right: 2%;
}
.main .첫째 .자식2{
    background-color: #ff9494;
}

.main .둘째{
    margin-top: 30px;
    background-color: #f47c7c;
}
.main .둘째 .둘째손{
    height: 200px; width: 33.3333%;
    float: left;
}
/* .main .둘째 .둘째손.둘자식1{} */


.main .둘째 .둘자식1{
    background-color: #ef9f9f;
}
.main .둘째 .둘자식2{
    background-color: #fad4d4;
}
.main .둘째 .둘자식3{
    background-color: #fff2f2;
}
.main .둘째 .막내{
    clear: both;
}
.main .셋째{
    margin-top: 30px;
    background-color: #e3b7a0;
}
.main .셋째 iframe{
    width: 100%;
}

.main .넷째{
    background-color: #f3d5c0;
    margin-top: 30px;
}

.main .넷째 .넷째손{
    width: 23.5%; height: 200px;
    float: left;
    margin-right: 2%;
}

.main .넷째 .넷자손1{
    background-color: #d4b499;
}
.main .넷째 .넷자손2{
    background-color: #889eaf;
}
.main .넷째 .넷자손3{
    background-color: #506d84;
}
.main .넷째 .넷자손4{
    background-color: #11324d;
    margin-right: 0;
}
